* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white-color: white;
  --black-color: black;
  --dark-charcoal: #333333;
  --Rajah-color: #ffb568;
  --border-color: #0000001a;
  --dark-mode-color: #000000d8;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}